<!DOCTYPE html>
<html>

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .card {
            border: none;
            transition: transform 0.3s;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-title {
            font-size: 1.2rem;
            margin-top: 10px;
        }

        .card-text {
            font-size: 0.9rem;
            color: #6c757d;
        }

        .card-price {
            font-size: 1.1rem;
            color: #28a745;
        }

        .card-quantity {
            color: #dc3545;
        }

        .card-category {
            font-size: 0.9rem;
            color: #17a2b8;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Customer Page</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"
                                aria-hidden="true"></i></span>Shopping Cart
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/boytoy"><i class="fa-solid fa-child"></i>Boy
                            Toys</a></li>
                    <li class="nav-item"><a class="nav-link" href="/girltoy"><i class="fa-solid fa-child-dress"></i>Girl
                            Toys</a></li>
                    <li class="nav-item"><a class="nav-link" href="/animaltoy"><i class="fa-solid fa-child"></i>Animal
                            Toys</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"
                                aria-hidden="true"></i>
                            User Management</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item"><a class="nav-link" href="/admin/alltoys">Admin</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Customer</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Animal Toys</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#each atoys}}
            <div class="col">
                <div class="card h-100">
                    <img src="{{this.aimage}}" alt="{{this.aname}}" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">{{this.aname}}</h5>
                        <p class="card-text">{{this.adetail}}</p>
                        <p class="card-price"><strong>Price:</strong> ${{this.aprice}}</p>
                        <p class="card-category"><strong>Category:</strong> {{this.acategory}}</p>
                        <div class="card-quantity"><strong>In Stock:</strong> {{this.aquantity}}</div>
                        <a href="#" class="btn btn-success mt-3 add-to-cart-btn" data-id="{{this._id}}"
                            role="button">Add to Cart</a>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
<footer class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left p-0">
                <p>Toy store by Lem Hon</p>
                <p>Tổng đài hỗ trợ: 19001099 - Email: lemhon1234@gmail.com</p>
                <p>© 2023 - Bản quyền thuộc về Lâm(dù sao cũng chả ai lấy vì quá sơ sài)</p>
            </div>
            <div class="col-md-6 text-md-right p-0">
                <p>Địa chỉ: Quận Cầu Ciấy, Tđ.Hà Nội, Việt Nam.</p>
                <p>Ban quản lý: Lem Hòn - SĐT: 0372499119 (Viettel.tel)</p>
            </div>
        </div>
    </div>
</footer>

</html>